@import '@economist/component-typography';
@import './';

/* stylelint-disable */
html, body {
  font-size: 20px!important;
}
@media screen and (min-width: 1300px) {
  .story-collection {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* stylelint-enable */
