@import '@economist/component-typography';
@import '@economist/component-palette';
@import '@economist/component-teaser';
@import '@economist/component-grid';

:root {
  --storycollection-main-story-text-nudge: 0.3em;
  --storycollection-main-story-text-nudge-desktop: 0.5em;
  --storycollection-red-label-width: 47px;
  --storycollection-red-label-height: 7px;
  --storycollection-chasm-height: 5px;
  --storycollection-inner-spacing: var(--grid-gutter-xs);
  --storycollection-outer-spacing: var(--grid-gutter-xs);
  --storycollection-inner-spacing-tablet: var(--grid-gutter-s);
  --storycollection-outer-spacing-tablet: var(--grid-gutter-xs);
  --storycollection-inner-spacing-desktop: var(--grid-gutter-l);
  --storycollection-outer-spacing-desktop: var(--grid-gutter-xl);

  --storycollection-main-text-padding: var(--grid-spacing-rabbit);
}

.story-collection {
  overflow: hidden;
  padding: var(--storycollection-inner-spacing);
  margin: 0 auto;
  background: var(--color-thimphu);
  font-size: 1rem;
  font-family: var(--fontfamily-sans);
}

.story-collection__wrapper {
  padding: var(--storycollection-outer-spacing);
}

.story-collection .teaser__img {
  margin-bottom: 0;
}

.story-collection .teaser__link {
  overflow: visible;
}

.story-collection__main-story .teaser__group-image {
  float: none;
  width: auto;
  margin-bottom: var(--grid-spacing-hedgehog);
  margin-right: 0;
}

.story-collection .teaser__group-image--empty {
  display: block;
  height: 1px;  /* So that group-text doesn't float into this space */
}

.story-collection__head {
  margin-bottom: var(--grid-spacing-rabbit);
  font-size: var(--text-size-step--2);
}

.story-collection__head::before {
  content: '';
  display: block;
  position: relative;
  width: var(--storycollection-red-label-width);
  height: var(--storycollection-red-label-height);
  margin-bottom: var(--grid-spacing-hedgehog);
  background: var(--color-economist);
}

.story-collection__date {
  display: inline-block;
}

.story-collection .teaser__title {
  font-weight: 500;
  font-size: var(--text-size-step--2);
  margin-bottom: 0;
}

.story-collection__main-story .teaser {
  padding-bottom: var(--grid-spacing-rabbit);
}

.story-collection .teaser__flytitle {
  font-size: var(--text-size-step--3);
}

.story-collection__wrapper {
  overflow: hidden;
  background-color: var(--color-berlin);
}

.story-collection__label {
  display: inline-block;
  margin-right: var(--grid-spacing-fox);
  color: var(--color-beijing);
  font-weight: bold;
}

.story-collection__date,
.story-collection__changed {
  color: var(--color-london);
  font-style: italic;
}

.story-collection__main-story .teaser__title {
  font-size: var(--text-size-step-2);
  letter-spacing: var(--text-letter-spacing-serif-medium-on-step-2);
  line-height: var(--text-line-height-serif-medium-on-step-2);
}

.story-collection__rest::before {
  content: '';
  display: block;
  width: auto;
  height: var(--storycollection-chasm-height);
  margin-left: calc(-1 * var(--storycollection-inner-spacing));
  margin-right: calc(-1 * var(--storycollection-inner-spacing));
  margin-bottom: var(--grid-spacing-rabbit);
  background: var(--color-berlin);
}

.story-collection__rest .teaser__group-image {
  float: left;
  width: 33.33%;
  margin-right: var(--grid-spacing-rabbit);
}

.story-collection__rest .teaser__link {
  margin-bottom: var(--grid-spacing-fox);
  padding-bottom: var(--grid-spacing-fox);
  border-bottom: 1px solid var(--color-berlin);
  overflow: hidden;
}

.story-collection__changed {
  color: var(--color-london);
  font-size: var(--text-size-step--4);
}

@media screen and (min-width: 900px) {
  .story-collection__rest::before {
    display: none;
  }
  .story-collection {
    padding: var(--storycollection-inner-spacing-tablet);
  }
  .story-collection__wrapper {
    padding: var(--storycollection-outer-spacing-tablet);
  }
  .story-collection__main-story .teaser__group-image {
    margin: 0;
  }
  .story-collection__main-story .teaser__link {
    position: relative;
  }
  .story-collection__main-story .teaser__group-text {
    right: auto;
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: var(--storycollection-main-text-padding);
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: calc( -1 * var(--storycollection-main-story-text-nudge) );
    background: var(--color-thimphu);
  }
  .story-collection__main-story .teaser__flytitle {
    margin-bottom: 0;
  }
  .story-collection__main-story .teaser {
    padding-bottom: var(--storycollection-main-story-text-nudge);
  }
  .story-collection__main-story,
  .story-collection__rest {
    float: left;
  }
  .story-collection__main-story {
    width: 60%;
  }
  .story-collection__main-story .teaser {
    margin-top: 0;
    margin-right: var(--grid-gutter-l);
  }
  .story-collection__rest {
    width: 40%;
  }
}

@media screen and (min-width: 1100px) {
  .story-collection {
    padding: var(--storycollection-inner-spacing-desktop);
  }
  .story-collection__main-story {
    width: 66.66%;
  }
  .story-collection__rest {
    width: 33.33%;
  }
  .story-collection__main .teaser__group-text {
    margin-bottom: calc( -1 * var(--storycollection-main-story-text-nudge) );
  }
  .story-collection__wrapper {
    padding: var(--storycollection-outer-spacing-desktop);
  }
  .story-collection__main-story .teaser__flytitle {
    font-size: var(--text-size-step--2);
    line-height: var(--text-line-height-sans-on-step--2);
  }
  .story-collection__main-story .teaser__title {
    font-size: var(--text-size-step-4);
    line-height: var(--text-line-height-serif-medium-on-step-4);
  }
}

